<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/voting.css">
    <title>Document</title>
</head>
<body>
<div class="main">
  <form id="vote1Form" action="/voting/<%=currentVote%>Confirm" method="GET">
    <div class="votingBox">
      <% votesQ.map((dancer) => { %>
        <div class="dancer">
          <input type="radio" class="radioButton findMe" name="<%=currentVote%>" value="<%=dancer.nick%>" id="<%=dancer.nick%>">
          <label class="radioButton" for="<%=dancer.nick%>"><span class="name"> <%=dancer.nick%> </span>
            <!-- <div class="accumulator" style="width:100%">
              <div class="accumulation" id="<%=dancer.nick%>acc"></div>
              <div class="accNumber"> <%=dancer.vote1Count%> </div>
            </div> -->
          </label>
        </div>
      <% }) %>
      <div>
        <input type="submit" class="submit radioButton" value="Submit vote!">
      </div>
      <div>
        <button name="pages" value="back" class="submit" action="/voting">BACK</button>
      </div>
    </div>
  </form>
</div>
<script>
      const radioButtons = document.getElementsByClassName('radioButton');
      const currentVote = document.getElementsByClassName('findMe')[0].name;
      async function getDisabled() {
        // console.log(currentVote);
        const res = await fetch('http://localhost:8079/voting/' + currentVote + 'Disable',
        {
          method: 'GET'
        })
        // console.log(res);
        const pageDisabled = await res.json();
        // console.log(pageDisabled);
        // console.log(radioButtons);
        // radioButtons.disabled = pageDisabled[0].disabled;
        for (let i = 0; i < radioButtons.length; i++) {
        radioButtons[i].disabled = pageDisabled[0].disabled;
        }
      }

      async function getWidth() {
        const res = await fetch('http://localhost:8079/voting/' + currentVote + 'Percent',
        {
          method: 'GET'
        })
        // console.log(res);
        const resJSON = await res.json();
        console.log(resJSON);
        console.log(resJSON.length);

        let i = 0;
        while (i < resJSON.length) {
          const counter = resJSON[i];
          console.log(counter);
          const voteCount = resJSON[i].votes;
          console.log(voteCount);
          const currentDancer = document.getElementById(resJSON[i].nick + 'acc');
          currentDancer.style.width = 100 * voteCount / 39 + '%';
          i++;
        }
        // const ben = await resJSON[0].vote1Count;
        // console.log(ben);
        // const myElement = document.getElementsById('accumulation');
        // console.log(myElement);
        // myElement[0].style.width = ben * 38 / 100 + '%';
      }

      getDisabled();
      getWidth();
</script>
</body>
</html>